<div class="page bg-back-blue">
    <div class="header">
        <div class="img">
        <img src="../../../assets/Cabeçalho (19) 1.png" alt="Cabeçalho">
    </div>
        <div class="vertical-line"></div>
        <div class="pags text-white px-5 font-bold">
            <a (click)="dirperfil()" class="barra-atual px-5">Perfil</a>
            <a (click)="dirusuarios()" class="barra px-5">Usuários</a>
            <a (click)="dirprodutos()" class="barra px-5">Produtos</a>
            <a (click)="direstoque()" class="barra px-5">Estoque</a>
            <a (click)="dirregistro()" class="barra px-5">Registros</a>
        </div>
        <div class="linha">
            <div class="horizontal-line"></div>
        </div>
    </div>
    <div class="header-body">
        <div class="cards bg-white p-4 px-4 rounded-xl shadow mt-3 ml-20 mr-20 mb-3">
            <div class="foto">
                <div class=""></div>
                <a href="#" style="text-decoration: underline;">Editar foto</a>
                <i class="fa-solid fa-camera ml-2"></i>
            </div>
        <div class="infos">
            <form>
                <div class="form-row">
                    <div class="form-group w-2/5">
                        <label for="name" class="form-label">Nome Completo<span class="required">*</span></label>
                        <input type="text" class="form-control p-2 placeholder-gray-300" id="name" [(ngModel)]="name" name="name" placeholder="Nome">
                    </div>
                    <div class="form-group w-2/5">
                        <label for="data" class="form-label">Data de Nascimento<span class="required">*</span></label>
                        <input type="date" class="form-control p-2 placeholder-gray-300 text-gray-300" id="data" [(ngModel)]="data" name="data" placeholder="dd/mm/aaaa">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group w-2/5">
                        <label for="cpf" class="form-label">CPF<span class="required">*</span></label>
                        <input type="text" class="form-control p-2 placeholder-gray-300" id="cpf" [(ngModel)]="cpf" name="cpf">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group w-2/5">
                        <label for="identificacao" class="form-label">Número de Registro<span class="required">*</span></label>
                        <input type="text" class="form-control p-2 placeholder-gray-300" id="identificacao" [(ngModel)]="identificacao" name="identificacao">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group w-2/5">
                        <label for="cep" class="form-label">CEP<span class="required">*</span></label>
                        <input type="text" class="form-control p-2 placeholder-gray-300" id="cep" [(ngModel)]="cep" name="cep" placeholder="xxxxx-xxx">
                    </div>
                    <div class="form-group w-2/5">
                        <label for="endereco" class="form-label">Endereço<span class="required">*</span></label>
                        <input type="text" class="form-control p-2 placeholder-gray-300" id="endereco" [(ngModel)]="endereco" name="endereco" placeholder="Rua">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group w-2/12">
                        <label for="estado" class="form-label">Estado<span class="required">*</span></label>
                        <input type="text" class="form-control p-2 placeholder-gray-300" id="estado" [(ngModel)]="estado" name="estado" placeholder="Estado">
                    </div>
                    <div class="form-group w-2/12">
                        <label for="bairro" class="form-label">Bairro<span class="required">*</span></label>
                        <input type="text" class="form-control p-2 placeholder-gray-300" id="bairro" [(ngModel)]="bairro" name="bairro" placeholder="Bairro">
                    </div>
                    <div class="form-group w-2/12">
                        <label for="numero" class="form-label">Número<span class="required">*</span></label>
                        <input type="text" class="form-control p-2 placeholder-gray-300" id="numero" [(ngModel)]="numero" name="numero" placeholder="Número">
                    </div>
                    <div class="form-group w-2/12">
                        <label for="complemento" class="form-label">Complemento<span class="required">*</span></label>
                        <input type="text" class="form-control p-2 placeholder-gray-300" id="complemento" [(ngModel)]="complemento" name="complemento" placeholder="Complemento">
                    </div>
                </div>
            </form>
        </div>
            <div class="button-container">
                <button class="text-l px-12 py-1 rounded text-white shadow bg-back-blue hover:bg-blue-400">Salvar</button>
            </div>
        </div>
    </div>
</div>
