.page{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.body{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 250px;
    min-height: 100vh;

    img{
        width: 50%;
        height: 50%;
    }
    .cards-todos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .primeira-linha {
            display: flex;
            align-items: center;
            justify-content: center;

        }
        .segunda-linha {
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 25px;
        cursor: pointer;
        img {
            width: 100px;
            height: 100px;
        }
    }
}