<div class="page bg-back-blue">
    <div class="body">
        <img src="../../../assets/Cabeçalho (19) 1.png">
    <div class="cards-todos">
        <h1 class="text-xl text-white font-bold">Bem vindo a LifePet!</h1>
        <div class="primeira-linha py-4">
            <div class=" cards bg-white p-4 px-2 rounded-lg shadow max-w-md w-40 h-30">
                <img (click)="dirperfil()" class="img-dash" src="../../../assets/perfil.png">
            </div>
            <div class=" cards bg-white p-4 px-2 rounded-lg shadow-lg max-w-md w-40 h-30">
                <img (click)="dirprodutos()" class="img-dash" src="../../../assets/produtos.png">
            </div>
        </div>
        <div class="segunda-linha pb-4 ">
            <div class=" cards bg-white p-4 px-2 rounded-lg shadow-lg max-w-md w-40 h-30">
                <img (click)="direstoque()" class="img-dash" src="../../../assets/estoque.png">
            </div>
            <div class="cards bg-white p-4 px-2 rounded-lg shadow-lg max-w-md w-40 h-30">
                <img (click)="dirregistro()" class="img-dash" src="../../../assets/registro.png">
            </div>
        </div>
        <div class=" cards bg-white p-4 px-2 rounded-lg shadow-lg max-w-md w-40 h-30">
            <img (click)="dirusuarios()" class="img-dash" src="../../../assets/usuarios.png">
        </div>
    </div>
    
</div>