<div class="page">
    <div class="body">
        <img src="../../../assets/Cabeçalho (20) 1 (1).png">
        <div class="container">
            <div class="row mt-5">
                <div class="col-4 w-full">
                    <div class="card-shadow">
                        <div class="card-body p-10 rounded-lg mt-60 border-solid border-2 border-back-blue">
                            <form>
                                <div class="mb-3 w-9/12">
                                    <label for="exampleInputEmail1" class="form-label">E-mail</label>
                                    <input type="email" class="form-control placeholder-gray-300" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">
                                </div>

                                <div class="mb-3 w-9/12">
                                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                                    <input type="password" class="form-control placeholder-gray-300" id="exampleInputPassword1" placeholder="Senha">
                                </div>
                                

                                <div class="mb-2 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Lembrar-me</label>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>