.page{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
  

    .msg {
        font: bold;
        font-size: 20px;
    }

    .texto {
        padding-left: 70px;
        padding-right: 70px;
        font-size: 15px;
    }
}