<div class="page bg-back-blue">
    <div class="header">
        <div class="img">
            <img src="../../../assets/Cabeçalho (19) 1.png" alt="Cabeçalho">
        </div>
        <div class="vertical-line"></div>
        <div class="pags text-white px-5 font-bold">
            <a (click)="dirperfil()" class="barra px-5">Perfil</a>
            <a (click)="dirusuarios()" class="barra-atual px-5">Usuários</a>
            <a (click)="dirprodutos()" class="barra px-5">Produtos</a>
            <a (click)="direstoque()" class="barra px-5">Estoque</a>
            <a (click)="dirregistro()" class="barra px-5">Registros</a>
        </div>
        <div class="linha">
            <div class="horizontal-line"></div>
        </div>
    </div>
    <div class="header-body">
        <div class="cards bg-white p-4 px-4 rounded-xl shadow mt-3 ml-20 mr-20 mb-3">
            <div>
                <div class="search">
                    <form action="/search" method="GET">
                        <input type="text" placeholder="Pesquisar Usuários" name="query" class="search-input">
                        <button type="submit" class="search-button">🔍</button>
                    </form>
                </div>
                <div class="user-list">
                    <!-- Header -->
                    <div class="user-header">
                        <div class="header-item">Foto</div>
                        <div class="header-item">Nome</div>
                        <div class="header-item">Tipo</div>
                        <div class="header-item">Telefone</div>
                        <div class="header-item">CPF</div>
                    </div>
                    <!-- User Infos -->
                    <div class="user-item" *ngFor="let user of users">
                        <div class="user-info">
                            <img *ngIf="user.photoUrl" [src]="user.photoUrl" alt="Foto do Usuário" class="user-photo">
                            <img *ngIf="!user.photoUrl" src="src/assets/default.webp" alt="Foto Padrão" class="user-photo">
                        </div>
                        <div class="user-info">{{ user.name }}</div>
                        <div class="user-info">{{ user.type }}</div>
                        <div class="user-info">{{ user.telephone }}</div>
                        <div class="user-info">{{ user.cpf }}</div>
                        <div class="user-actions">
                            <button class="edit-button">Editar</button>
                        </div>
                    </div>
                    <div class="action-buttons">
                        <button class="remove-user-button text-l px-12 py-1 rounded text-white shadow bg-back-blue hover:bg-blue-400">Remover Usuário</button>
                        <button class="add-user-button text-l px-12 py-1 rounded text-white shadow bg-back-blue hover:bg-blue-400">Adicionar Usuário</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
