.page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    padding-bottom: 30px;

        .header {
            display: flex;
            justify-content: space-between;
            padding-bottom: 15px;

        .linha {
            .horizontal-line {
                width: 100%;
                height: 2px;
                background-color: white;
                position: absolute;
                top: 21%;
                left: 0;
            }
    }

    .img {
        padding-left: 30px;
    }

        img {
            width: 160px;
            height: 150px;
    }

    .vertical-line {
        width: 2px;
        height: 21vh;
        background-color: white;
        position: absolute;
        left: 15%;
    }

        .pags {
            font-size: 30px;
            padding-top: 50px;

            a:hover {
                color: #c2c0c0;
            }
    }

        .barra {
            cursor: pointer;
    }

        .barra-atual {
            cursor: pointer;
            color: #c2c0c0;
    }
    }

        .search {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

        .search-input {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-right: none;
            border-radius: 20px 0 0 20px;
            outline: none;
            box-sizing: border-box;
    }

        .search-button {
            padding: 10px 15px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-left: none;
            border-radius: 0 20px 20px 0;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;
    }

        .search-button:hover {
            background-color: #ccc;
    }
    }

    .user-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-height: 440px; 
        min-height: 440px; 
        height: 440px;
        overflow-y: auto;
        margin-bottom: -13px;

        .user-header {
            position: sticky;
            top: 0;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            padding: 10px;
            border-radius: 5px;
            font-weight: bold;
            background-color: white;

        .header-item {
            text-align: center;
        }
    }

        .user-item {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            padding: 10px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            align-items: center;

            .user-info {
                text-align: center;
                padding: 5px;

            .user-photo{
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
        }

        .user-actions {
            text-align: center;

        .edit-button {
            text-decoration: underline;
            cursor: pointer;
            color: #007bff;
        }
        }
    }
    }
    .action-buttons {
        position: sticky;
        background-color: #fff;
        padding: 20px 10px 0px 10px;
        border-top: 1px solid #ddd;
        display: flex;
        justify-content: center;
        gap: 12px;
        
        

        .remove-user-button,
        .add-user-button {
            text-align: center;
            padding: 12px 24px;
            border-radius: 4px;
            color: white;
            background-color: #007bff;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .remove-user-button:hover,
        .add-user-button:hover {
            background-color: #0056b3;
        }
}
}
