<div class="form-container bg-white">
    <div class="bg-back-blue rounded-xl shadow-lg mt-3 mb-3 mr-4 ml-4">
        <div class="title text-white drop-shadow-md">Editar Produto</div>
        <form [formGroup]="editarProdutoForm" (ngSubmit)="editarProduto()" class="form">
            <div class="fotinha flex">
                <div class="inputs">
                    <div class="item">
                        <h3>Nome</h3>
                        <input type="text" formControlName="nome" placeholder="Nome" class="input placeholder-gray-300 rounded-lg p-2">
                    </div>
                    <div class="item">
                        <h3>Preço</h3>
                        <input type="text" formControlName="preco" placeholder="Preço" class="input placeholder-gray-300 rounded-lg p-2">
                    </div>
                    <div class="item">
                        <h3>Categoria</h3>
                        <select formControlName="categoria" class="input placeholder-gray-300 rounded-lg p-2">
                            <option disabled selected>Selecione uma Categoria</option>
                            <option value="Alimentação">Alimentação</option>
                            <option value="Lazer">Lazer</option>
                            <option value="Acessórios">Acessórios</option>
                            <option value="Higiene e Limpeza">Higiene e Limpeza</option>
                            <option value="Medicina e Saúde">Medicina e Saúde</option>
                        </select>
                    </div>
                    <div class="item">
                        <h3>Código</h3>
                        <input type="text" formControlName="codigo" placeholder="Código" class="input placeholder-gray-300 rounded-lg p-2">
                    </div>
                    <div class="item">
                        <h3>Data de Validade</h3>
                        <input type="date" formControlName="dataValidade" placeholder="Data de Validade" class="input placeholder-gray-300 rounded-lg p-2">
                    </div>
            
                    <div class="item">
                        <h3>Data de Cadastro</h3>
                        <input type="date" formControlName="dataCadastro" placeholder="Data de Cadastro" class="input placeholder-gray-300 rounded-lg p-2">
                    </div>
                    
                </div>
                <div class="item-foto flex-col">
                    <img *ngIf="fotoUrl" [src]="fotoUrl" alt="Foto do Produto" class="rounded-lg mb-2">
                    <button type="button" (click)="fileInput.click()" class="text-white hover:underline">Editar Foto</button>
                    <input #fileInput type="file" (change)="onFileChange($event)" class="hidden">
                </div>
            </div>
                
                <div class="form-botao pt-1">
                    <div class="botao bg-blue-200 text-blue-700 rounded-lg hover:bg-blue-300 mr-4">
                        <button class="botao" type="submit" [disabled]="!editarProdutoForm.valid">Salvar</button> 
                    </div>
                    <div class="botao bg-red-200 text-red-800 rounded-lg hover:bg-red-300">
                        <button class="botao" (click)="excluirProduto()" type="button">Excluir Produto</button>
                    </div>
                    
                </div>
        </form>
    </div>
  </div>