<div class="page">
    <div class="body">
        <img src="../../../assets/Cabeçalho (20) 1 (1).png">
        <div class="mt-5 container">
            <div class="row mt-3 justify-center">
                <div class="caixa col-4 w-full max-w-md">
                    <div class="card-shadow">
                        <div class="card-body p-2 rounded-lg border-solid border-2 border-back-blue">
                            <form class="ml-3 mt-3 mb-3 mr-3">
                                <div class="mb-2">
                                    <label class="form-label">Foto de Perfil</label>
                                    <div class="mt-2">
                                        <img id="photoPreview" src="" alt="Pré-visualização da Foto" class="hidden w-32 h-32 object-cover border-2 border-gray-300 rounded-lg">
                                    <div>
                                        <a href="" id="takePhotoLink" class="text-back-blue hover:underline">Tirar Foto</a>
                                        <br>
                                        <a href="" id="choosePhotoLink" class="text-back-blue hover:underline">Escolher da Galeria</a>
                                    </div>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <label for="exampleInputEmail1" class="form-label">Número de Identificação</label>
                                    <input type="name" class="form-control placeholder-gray-300" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="XX.XXX.XXX/000X-XX">
                                </div>
                                <div class="mb-2">
                                    <label for="exampleInputEmail1" class="form-label">CPF</label>
                                    <input type="email" class="form-control placeholder-gray-300" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="XXX.XXX.XXX-XX">
                                </div>
                                <div class="inputs">
                                    <button class="mt-2 mb-2 w-full bg-back-blue px-2 py-1 rounded text-white hover:bg-blue-700">Concluir</button>
                                </div>
                                <div class="flex justify-center items-center">
                                    <a class="mr-2">Já possui uma conta?</a>
                                    <a href="" class="text-back-blue hover:underline">Entrar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>